<%= simple_form_for(@product_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product_cate, include_blank: false %>
    <%= f.input :title, input_html: {class: 'input-block-level'} %>
    <%= f.input :image_url, input_html: {class: 'input-block-level'}  %>
    <%#= f.input :content, input_html: {class: 'input-block-level', rows: 10}  %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'simple'}, rows: 40 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
