<% title ["移动营销天地-博客",  "瑞信云"].join('-') %>
<% meta_keywords ["移动营销天地", "瑞信云"].join('-') %>
<% meta_description ["移动营销天地", "瑞信云"].join('-') %>

<%= content_for(:head) do %>
  <%= stylesheet_link_tag "theme/blog" %>
<% end %>

<div id="blog">
    <div class="container">
        <div class="section_header">
            <h3>行业论坛</h3>

            <input type="text" class="input-large search-query" placeholder="搜索...">
        </div>

        <!-- Post Row -->
        <div class="row post_row">
          <!-- Post -->
          <% @posts.each do |post| %>
            <div class="span4 post">
                <div class="img">
                    <%= link_to image_tag(post.image_url), "/blogpost/#{post.id}" %>
                </div>
                <div class="text">
                    <h5><a href="/blogpost/<%=post.id %>"><%= post.title.truncate(30) %>.</a></h5>
                    <span class="date"><%= post.updated_at.to_s(:db) %></span>
                    <p><%= raw(strip_tags(post.content)).truncate(40) %></p>
                </div>
                <div class="author_box">
                    <h6><%= post.keywords %></h6>
                </div>
                <a class="plus_wrapper" href="/blogpost?id=<%= post.id%>">
                    <span>&#43;</span>
                </a>
            </div>
          <% end %>
        </div>
        
        <%= will_paginate @posts %>
    </div>
</div>
