<% title [@post.title,  "瑞信云"].join(',') %>
<% meta_keywords [@post.title, @post.keywords, "瑞信云"].join(',') %>
<% meta_description [ @post.title,  @post.keywords, "瑞信云"].join(',') %>


<%= content_for(:head) do %>
  <%= stylesheet_link_tag "theme/blogpost" %>
<% end %>
<%= content_for(:keywords) do %>
  <%= @post.keywords %>
<% end %>
<%= content_for(:description) do %>
  <%= @post.title %>
<% end %>

<div id="blog_post">
    <div class="container">
  <!--  <div class="section_header">
            <h3>行业讲坛</h3>

            <input type="text" class="input-large search-query" placeholder="搜索...">
        </div>
 -->
        <div class="row">
            <div class="span8">
                <%#= image_tag @post.image_url %>

                <div class="post_content">
                    <h2><%= @post.title %></h2>
                    <span class="date"><%= @post.created_at.to_s(:db) %></span>
                    <%= raw @post.content %>
                    
                    <div class="author_box">
                        <div class="author"><%= @post.keywords %></div>
                    </div>
                </div>

                <!-- Duoshuo Comment BEGIN -->
                <div class="ds-thread"></div>
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"rxy123"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                    </script>
                <!-- Duoshuo Comment END -->

                <!-- <div class="new_comment">
                    <h4>给我们留言</h4>
                    <form accept-charset="UTF-8" action="/comments" id="new_comment" method="post">
                        <input name="utf8" type="hidden" value="&#x2713;" />
                        <input name="authenticity_token" type="hidden" value="uV/dlXiSmha2AdbSoO0R6fojOEPBqxabidgXEXjvW64=" />   
                        
                        <div class="row">
                            <div class="span4">
                                <input type="text" name="comment[name]" placeholder="姓名" />
                            </div>
                            <div class="span4">
                                <input type="text" name="comment[mobile_phone]" placeholder="手机号码, 11位" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <textarea rows="3" name="comment[content]" placeholder="内容"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <input type="submit" value="提交", class="btn send" />
                            </div>
                        </div>
                    </form>
                </div>-->
            </div> 
            
            <!-- SideBar -->
            <div class="span3 sidebar offset1">
                <div class="sidebar_header">
                    <h4>最近更新...</h4>
                </div>

                <ul class="sidebar_menu">
                    <ul>
                      <% Post.recent(20).each do |post|%>
                        <li><i class="fa fa-book fa-fw"></i><%=link_to post.title.to_s.truncate(12), "/blogpost/#{post.id}", title: post.title %></li>
                      <% end %>
                    </ul>
                </ul>

                <hr>
                <div class="sidebar_header">
                    <h4>需求咨询...</h4>
                    <em>把您电话告诉我们，我们会在10分钟之内快速响应！</em>
                </div>
                <!-- ########将以下代码拷贝到需要提交手机号的网站################################ -->
                <form accept-charset="UTF-8" action="http://www.65960.com/pcall" id="pcall_form" method="post">
                  <input class="hidden" id="phone_call_domain" name="phone_call[domain]" type="hidden" value="www.rxy123.com" />
                  <input class="hidden" id="phone_call_user_id" name="phone_call[user_id]" type="hidden" value="1" />
                  <input class="string tel optional" id="phone_call_from_phone" name="phone_call[from_phone]" type="tel" placeholder="请输入您的手机号码" />
                  <input class="btn btn-info" id="phone_call_commit" name="commit" type="submit" value="提交" />
                </form>
                <script src="http://www.65960.com/assets/phone_calls.js" charset="utf-8"></script>
                <!-- ########代码结束################################ -->
            </div>
            <!-- SideBar -->
        </div>
    </div>
</div>