<div id="portfolio">
<div class="container">
    <div class="section_header">
        <!-- <h3>案例展示</h3> -->
    </div>
    <div class="row">
        <div class="span12">
            <div id="filters_container">
                <ul id="filters">
                    <% @product_cates.each_with_index do |item, index| %>
                        <li><a href="/product_cates/<%= item.id%>" data-filter="*" class="<%= index == 0 ? 'active' : '' %>"><%= item.name %></a></li>
                        <li class="separator">/</li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>            
    <div class="row">
        <div class="span12">
            <div id="gallery_container">
                <% @product_items.each do |item| %>
                    <div class="photo art web">
                        <img src="<%= item.image_url %>" style="width: 175px; height: 175px;" />
                        <%= link_to product_item_path(item), class: 'mask' do %>
                            <h3><%= item.title %></h3>
                            <small><%= item.product_cate.name %></small>
                            <div class="more">+</div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="pagination" style="text-align: center;">
              <%= will_paginate @product_items %>
            </div>
        </div>
    </div>            
</div>
</div>