<%= link_to "瑞信云科技", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to '后台主页', user_path(current_user) %></li>
    <li>
    <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to '登录', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to '修改密码', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to '会员管理', users_path %>
      </li>
    <% end %>
    <li><%= link_to '上传图片', new_resource_item_path %></li>
    <li><%= link_to '添加文章', new_post_path %></li>
    <li><%= link_to '添加案例', new_product_item_path %></li>
  <% else %>
    <li>
    <%#= link_to '注册', new_user_registration_path %>
    </li>
  <% end %>
  <li><%= link_to '去前台', '/', class: "badge badge-info" %></li>
</ul>
